In [12]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [21]:
csv_file = "Donald-Tweets.csv"
donald_csv_df = pd.read_csv(csv_file)
donald_csv_df

,Date,Time,Tweet_Text,Type,Media_Type,Hashtags,Tweet_Id,Tweet_Url,twt_favourites_IS_THIS_LIKE_QUESTION_MARK,Retweets,Unnamed: 10,Unnamed: 11
0,16-11-11,15:26:37,Today we express our deepest gratitude to all ...,text,photo,ThankAVet,7.970000e+17,https://twitter.com/realDonaldTrump/status/797...,127213,41112,NaN,NaN
1,16-11-11,13:33:35,Busy day planned in New York. Will soon be mak...,text,NaN,NaN,7.970000e+17,https://twitter.com/realDonaldTrump/status/797...,141527,28654,NaN,NaN
2,16-11-11,11:14:20,Love the fact that the small groups of protest...,text,NaN,NaN,7.970000e+17,https://twitter.com/realDonaldTrump/status/797...,183729,50039,NaN,NaN
3,16-11-11,2:19:44,Just had a very open and successful presidenti...,text,NaN,NaN,7.970000e+17,https://twitter.com/realDonaldTrump/status/796...,214001,67010,NaN,NaN
4,16-11-11,2:10:46,A fantastic day in D.C. Met with President Oba...,text,NaN,NaN,7.970000e+17,https://twitter.com/realDonaldTrump/status/796...,178499,36688,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7370,15-07-16,13:10:00,I loved firing goofball atheist Penn @pennjill...,text,NaN,NaN,6.220000e+17,https://twitter.com/realDonaldTrump/status/621...,953,431,NaN,NaN
7371,15-07-16,10:18:31,I hear @pennjillette show on Broadway is terri...,text,NaN,NaN,6.220000e+17,https://twitter.com/realDonaldTrump/status/621...,1175,1086,NaN,NaN
7372,15-07-16,10:10:17,Irrelevant clown @KarlRove sweats and shakes n...,text,NaN,NaN,6.220000e+17,https://twitter.com/realDonaldTrump/status/621...,1494,930,NaN,NaN
7373,15-07-16,9:44:07,"""@HoustonWelder: Donald Trump is one of the se...",text,NaN,NaN,6.220000e+17,https://twitter.com/realDonaldTrump/status/621...,1800,1738,NaN,NaN
7374,15-07-16,0:21:25,RT @marklevinshow: Trump: Rove is a clown and ...,link,NaN,NaN,6.210000e+17,https://twitter.com/realDonaldTrump/status/621...,962,689,NaN,NaN

In [22]:
for col in donald_csv_df.columns: 
    print(col)

Date
Time
Tweet_Text
Type
Media_Type
Hashtags
Tweet_Id
Tweet_Url
twt_favourites_IS_THIS_LIKE_QUESTION_MARK
Retweets
Unnamed: 10
Unnamed: 11

In [41]:
clean_csv_df = donald_csv_df[["Date", "Tweet_Text", "Hashtags", "twt_favourites_IS_THIS_LIKE_QUESTION_MARK", "Retweets"]].copy()
clean_csv_df.rename(columns={'Date':'date', 'Tweet_Text': 'tweet_text', 'Hashtags': 'hashtags', 'twt_favourites_IS_THIS_LIKE_QUESTION_MARK': 'twt_favourites_is_this_like_question_mark', 'Retweets':'retweets'}, inplace=True)
clean_csv_df

,date,tweet_text,hashtags,twt_favourites_is_this_like_question_mark,retweets
0,16-11-11,Today we express our deepest gratitude to all ...,ThankAVet,127213,41112
1,16-11-11,Busy day planned in New York. Will soon be mak...,NaN,141527,28654
2,16-11-11,Love the fact that the small groups of protest...,NaN,183729,50039
3,16-11-11,Just had a very open and successful presidenti...,NaN,214001,67010
4,16-11-11,A fantastic day in D.C. Met with President Oba...,NaN,178499,36688
...,...,...,...,...,...
7370,15-07-16,I loved firing goofball atheist Penn @pennjill...,NaN,953,431
7371,15-07-16,I hear @pennjillette show on Broadway is terri...,NaN,1175,1086
7372,15-07-16,Irrelevant clown @KarlRove sweats and shakes n...,NaN,1494,930
7373,15-07-16,"""@HoustonWelder: Donald Trump is one of the se...",NaN,1800,1738
7374,15-07-16,RT @marklevinshow: Trump: Rove is a clown and ...,NaN,962,689

In [33]:
# json_file = "donald_data2.json", lines=True
# donald_json_df = pd.read_json(json_file)
donald_json_file = pd.read_json('donald_data2.json', lines=True)
donald_json_file.head()

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,...,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,lang,quoted_status_id,quoted_status_id_str,quoted_status_permalink,quoted_status
0,2018-09-11 20:16:49+00:00,1039608725819088899,1039608725819088896,The safety of American people is my absolute h...,False,"[0, 185]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1039608069599240194, 'id_str...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,7270,27341,False,False,0.0,en,NaN,NaN,NaN,NaN
1,2018-09-11 16:48:49+00:00,1039556378766069760,1039556378766069760,Small Business Optimism Soars to Highest Level...,False,"[0, 106]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",NaN,...,8520,31085,False,False,0.0,en,NaN,NaN,NaN,NaN
2,2018-09-11 15:32:28+00:00,1039537164458053633,1039537164458053632,#NeverForget #September11th \nhttps://t.co/l8W...,False,"[0, 52]","{'hashtags': [{'text': 'NeverForget', 'indices...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",NaN,...,9641,33968,False,False,0.0,und,NaN,NaN,NaN,NaN
3,2018-09-11 12:58:10+00:00,1039498334594052096,1039498334594052096,17 years since September 11th!,False,"[0, 30]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",NaN,...,17952,73372,False,False,NaN,en,NaN,NaN,NaN,NaN
4,2018-09-11 12:24:52+00:00,1039489954223542274,1039489954223542272,"Departing Washington, D.C. to attend a Flight ...",False,"[0, 136]","{'hashtags': [{'text': 'NeverForget', 'indices...","{'media': [{'id': 1039489901690056704, 'id_str...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,12541,52227,False,False,0.0,en,NaN,NaN,NaN,NaN

In [34]:
for col in donald_json_file: 
    print(col)

created_at
id
id_str
full_text
truncated
display_text_range
entities
extended_entities
source
in_reply_to_status_id
in_reply_to_status_id_str
in_reply_to_user_id
in_reply_to_user_id_str
in_reply_to_screen_name
user
geo
coordinates
place
contributors
is_quote_status
retweet_count
favorite_count
favorited
retweeted
possibly_sensitive
lang
quoted_status_id
quoted_status_id_str
quoted_status_permalink
quoted_status

In [35]:
clean_json_df = donald_json_file[["created_at", "full_text", "favorite_count", "retweet_count"]].copy()
clean_json_df

,created_at,full_text,favorite_count,retweet_count
0,2018-09-11 20:16:49+00:00,The safety of American people is my absolute h...,27341,7270
1,2018-09-11 16:48:49+00:00,Small Business Optimism Soars to Highest Level...,31085,8520
2,2018-09-11 15:32:28+00:00,#NeverForget #September11th \nhttps://t.co/l8W...,33968,9641
3,2018-09-11 12:58:10+00:00,17 years since September 11th!,73372,17952
4,2018-09-11 12:24:52+00:00,"Departing Washington, D.C. to attend a Flight ...",52227,12541
...,...,...,...,...
2860,2017-09-06 10:53:45+00:00,Hurricane looks like largest ever recorded in ...,56660,12226
2861,2017-09-06 10:51:52+00:00,"Watching Hurricane closely. My team, which has...",104511,20181
2862,2017-09-06 10:47:01+00:00,Will be going to North Dakota today to discuss...,85389,16359
2863,2017-09-06 00:38:27+00:00,Congress now has 6 months to legalize DACA (so...,87620,22484
2864,2017-09-05 20:45:27+00:00,I look forward to working w/ D's + R's in Cong...,98351,22529

In [36]:
rds_connection_string = "postgres:Catpuss10!@localhost:5432/trump"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [37]:
engine.table_names()

['json_tweets', 'csv_tweets']

In [43]:
clean_csv_df.to_sql(name='csv_tweets', con=engine, if_exists='append', index=False)

In [44]:
pd.read_sql_query('select * from csv_tweets', con=engine).head()

,tweet_text,hashtags,twt_favourites_is_this_like_question_mark,retweets,date
0,Today we express our deepest gratitude to all ...,ThankAVet,127213,41112,16-11-11
1,Busy day planned in New York. Will soon be mak...,None,141527,28654,16-11-11
2,Love the fact that the small groups of protest...,None,183729,50039,16-11-11
3,Just had a very open and successful presidenti...,None,214001,67010,16-11-11
4,A fantastic day in D.C. Met with President Oba...,None,178499,36688,16-11-11

In [ ]:
clean_json_df.to_sql(name='json_tweets', con=engine, if_exists='append', index=False)

In [ ]:
pd.read_sql_query('select * from json_tweets', con=engine).head()